<div id="currentMsgBody" *ngIf="messageDetail">
  <div class="row">
    <div class="col-md-3">
      <p>
        From:<span id="from"> {{messageDetail.userName}}</span>
      </p>
    </div>


    <div class="col-md-3">
      <p>
        Date: <span id="date">{{messageDetail.timestamp}}</span>
      </p>
    </div>

    <div class="col-md-3">
      <p>
        Reporting Period: <span id="reportingPeriod"> {{messageDetail.reportingPeriod}}</span>
      </p>
    </div>

    <div class="col-md-3">
      <p>
        Status: <span id=tieMsgState> {{messageDetail.msgState}} </span>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div>To:</div>
    </div>
    <div class="col-md-9">
      <input type="text" class="form-control" id="To" placeholder="{{messageDetail.msgReceiverList}}">
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div>Subject:</div>
    </div>
    <div class="col-md-9">
      <input type="text" class="form-control" id="Subject" placeholder="{{messageDetail.subject}}">
    </div>
  </div>


  <div class="row">
    <div class="col-md-3">
      <div>Notes:</div>
    </div>
    <div class="col-md-9">
      <textarea rows="4" cols="95" id="notes">{{messageDetail.notes}}</textarea>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div>Warning:</div>
    </div>
    <div class="col-md-9">
      <input type="text" class="form-control" id="Warning" placeholder="{{messageDetail.warning}}">
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div>Contact:</div>
    </div>
    <div class="col-md-9">
      <input type="text" class="form-control" id="Contact" placeholder="{{messageDetail.contact}}">
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">

      <div>
        OECD Message Ref ID:
      </div>

      <div>
        OECD Message Type:
      </div>
      <div>
        Sending Country:
      </div>
      <div>Language:</div>

    </div>
    <div class="col-md-3">
      <div>
        {{messageDetail.corrMessageRefIds}}
      </div>
      <div class="styled-select">
        <select class="form-control" id="sel1">
          <!-- <option *ngFor="let OECDMessageTypeItem of messageDetail.OECDMessageType">{{OECDMessageTypeItem}}</option> -->
          <option>not an array</option>
        </select>
      </div>
      <div>
        {{messageDetail.transmittingCountry}}
      </div>
      <div class="styled-select">
        <select class="form-control" id="sel1">
          <!-- <option *ngFor = "let languageItem of messageDetail.Language">{{languageItem}}</option> -->
          <option>not an array</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div>
        Reporting Period:
      </div>
      <div>
        OECD Message Type Indic:
      </div>
      <div>
        Receiving Country:
      </div>

    </div>
    <div class="col-md-3">
      <div>

        {{messageDetail.reportingPeriod}}
      </div>
      <div class="styled-select">
        <select class="form-control" id="sel1">
          <!-- <option  *ngFor = "let OECDMessageTypeIndicItem of messageDetail.OECDMessageTypeIndic">{{OECDMessageTypeIndicItem}}</option> -->
          <option>not an array</option>
        </select>
      </div>
      <div>

        {{messageDetail.receivingCountries}}
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary">Save</button>
  <button type="button" class="btn btn-primary">Delete</button>
  <button type="button" class="btn btn-primary">Send</button>

</div>
