<div id="currentMsgBody" *ngIf="messageDetail">
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <!-- Items in this form {{diagnostic}} -->
    <div class="row">
      <div class="col-md-3">
        <p>
          From:<span id="from"> {{messageDetail.userName}}</span>
        </p>
      </div>


      <div class="col-md-3">
        <p>
          Date: <span id="date">{{messageDetail.timestamp}}</span>
        </p>
      </div>

      <div class="col-md-3">
        <p>
          Reporting Period: <span id="reportingPeriod"> {{messageDetail.reportingPeriod}}</span>
        </p>
      </div>

      <div class="col-md-3">
        <p>
          Status: <span id=tieMsgState> {{messageDetail.msgState}} </span>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div>To:</div>
      </div>
      <div class="col-md-9">
        <!-- <textarea style="overflow:auto" class="textarea" rows="0">{{messageDetail.msgReceiverList}}</textarea> -->
        <input type="text" class="form-control" id="msgReceiverList"  [(ngModel)]="model.msgReceiverList" name="msgReceiverList" #name="ngModel">
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div>Subject:</div>
      </div>
      <div class="col-md-9">
        <!-- <input type="text" class="form-control" id="Subject" placeholder="{{messageDetail.subject}}" [(ngModel)]="model.subject" name="subject"> -->
        <input type="text" class="form-control" id="Subject"  [(ngModel)]="model.subject" name="subject" #name="ngModel">
      </div>
    </div>


    <div class="row">
      <div class="col-md-3">
        <div>Notes:</div>
      </div>
      <div class="col-md-9">
        <textarea style="overflow:auto" class="notestextarea" rows="3" [(ngModel)]="model.notes" name="notes">{{messageDetail.notes}}</textarea>
        <!-- <textarea rows="4" cols="95" id="notes" [(ngModel)]="model.notes" name="notes">wheres note {{messageDetail.notes}}</textarea> -->
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div>Warning:</div>
      </div>
      <div class="col-md-9">
        <input type="text" class="form-control" id="warning"  [(ngModel)]="model.warning" name="warning" #name="ngModel">
        <!-- <input type="text" class="form-control" id="Warning" placeholder="{{messageDetail.warning}}" [(ngModel)]="model.warning" name="warning"> -->
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div>Contact:</div>
      </div>
      <div class="col-md-9">
        <!-- <textarea style="overflow:auto" class="textarea" rows="0">{{messageDetail.contact}}</textarea> -->
        <input type="text" class="form-control" id="contact"  [(ngModel)]="model.contact" name="contact" #name="ngModel">
        <!-- <input type="text" class="form-control" id="Contact" placeholder="{{messageDetail.contact}}" [(ngModel)]="model.contact" name="contact"> -->
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">

        <div>
          OECD Message Ref ID:
        </div>

        <div>
          OECD Message Type:
        </div>
        <div>
          Sending Country:
        </div>
        <div>Language:</div>

      </div>
      <div class="col-md-3">
        <div>
          {{messageDetail.messageRefId}}
        </div>
        <div class="styled-select">
          <select class="form-control" id="sel1"  [(ngModel)]="model.messageType" name="messageType" #messageType="ngModel">
          <!-- <option *ngFor="let OECDMessageTypeItem of messageDetail.OECDMessageType">{{OECDMessageTypeItem}}</option> -->
           <option *ngFor="let messageType of OECDMessageTypeList" [value]="messageType">{{messageType}}</option>
        </select>
        </div>
        <div>
          {{messageDetail.transmittingCountry}}
        </div>
        <div class="styled-select">
          <!-- <select class="form-control" id="sel1" required [(ngModel)]="model.language" name="messageType" #messageType="ngModel">
          <option *ngFor = "let language of languageList" [value]="language">{{language}}</option> -->
          <select class="form-control" id="sel1">
          <option *ngFor = "let language of languageList">{{language | cap}}</option>

        </select>
        </div>
      </div>
      <div class="col-md-3">
        <div>
          Reporting Period:
        </div>
        <div>
          OECD Message Type Indic:
        </div>
        <div>
          Receiving Country:
        </div>

      </div>
      <div class="col-md-3">
        <div>

          {{messageDetail.reportingPeriod}}
        </div>
        <div class="styled-select">
          <!-- <select class="form-control" id="sel1">

          <option>CBC401</option>
          <option>CBC402</option> -->
          <select class="form-control" id="sel1"  [(ngModel)]="model.messageTypeIndic" name="messageTypeIndic" #messageTypeIndic="ngModel">

           <option *ngFor="let messageTypeIndic of OECDMessageTypeIndicList" [value]="messageTypeIndic">{{messageTypeIndic}}</option>
        </select>
        </div>
        <div>

          {{messageDetail.receivingCountries}}
        </div>
      </div>
    </div>
    <button type="button" type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-primary" (click) = "onDeleteMsg()">Delete</button>
    <button type="button" class="btn btn-primary" (click) = "onSendMsg()">Send</button>
  </form>
</div>
