<div id="currentMsgBody">
  <div class="row">
    <div class="col-md-3">
      <p>
        From:<span id="from"> {{currentMessage.from}}</span>
      </p>
    </div>


    <div class="col-md-3">
      <p>
        Date: <span id="date">{{currentMessage.date}}</span>
      </p>
    </div>

    <div class="col-md-3">
      <p>
        Reporting Period: <span id="reportingPeriod"> {{currentMessage.reportingPeriod}}</span>
      </p>
    </div>

    <div class="col-md-3">
      <p>
        Status: <span id=tieMsgState> {{currentMessage.status}} </span>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div>To:</div>
    </div>
    <div class="col-md-9">
      <input type="text" class="form-control" id="To" placeholder="{{currentMessage.to}}">
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div>Subject:</div>
    </div>
    <div class="col-md-9">
      <input type="text" class="form-control" id="Subject" placeholder="{{currentMessage.subject}}">
    </div>
  </div>


  <div class="row">
    <div class="col-md-3">
      <div>Notes:</div>
    </div>
    <div class="col-md-9">
      <textarea rows="4" cols="95" id="notes">{{currentMessage.notes}}</textarea>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div>Warning:</div>
    </div>
    <div class="col-md-9">
      <input type="text" class="form-control" id="Warning" placeholder="{{currentMessage.warning}}">
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div>Contact:</div>
    </div>
    <div class="col-md-9">
      <input type="text" class="form-control" id="Contact" placeholder="{{currentMessage.contact}}">
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">

      <div>
        OECD Message Ref ID:
      </div>

      <div>
        OECD Message Type:
      </div>
      <div>
        Sending Country:
      </div>
      <div>Language:</div>

    </div>
    <div class="col-md-3">
      <div>
        {{currentMessage.OECDMessageRefID}}
      </div>
      <div class="styled-select">
        <select class="form-control" id="sel1">
          <option *ngFor="let OECDMessageTypeItem of currentMessage.OECDMessageType">{{OECDMessageTypeItem}}</option>

        </select>
      </div>
      <div>
        {{currentMessage.sendingCountry}}
      </div>
      <div class="styled-select">
        <select class="form-control" id="sel1" >
          <option *ngFor = "let languageItem of currentMessage.Language">{{languageItem}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div>
        Reporting Period:
      </div>
      <div>
        OECD Message Type Indic:
      </div>
      <div>
        Receiving Country:
      </div>

    </div>
    <div class="col-md-3">
      <div>
        {{currentMessage.reportingPeriod}}
      </div>
      <div class="styled-select">
        <select class="form-control" id="sel1">
          <option  *ngFor = "let OECDMessageTypeIndicItem of currentMessage.OECDMessageTypeIndic">{{OECDMessageTypeIndicItem}}</option>

        </select>
      </div>
      <div>
        {{currentMessage.receivingCountry}}
      </div>
    </div>
  </div>
</div>
