.logo {
  margin-top: 0;
  color: white;
}
.logo:hover {
  color:lightgreen;
}
#headercenter {
  text-align: center;
  padding-top: 12px;
}
#headerright {
  text-align: right;
}
.btn-success {
  background-color: #ccffcc;
  color: #34393d;
}
#language {
  color: white;
  font-size: 11px;
}
#user {
    color: white;
    font-size:11px;

}
.styled-select {
  float: right;
  height: 7px;
  width: 50px;
  margin-right: 20px;
}
.styled-select select {
  background: white;
  border: none;
  font-size: 10px;
  height: 25px;
  width: 68px;
  padding-top: 5px;
}
