<!-- <div *ngIf="isLoading"><i class="fa fa-spinner fa-spin"></i></div> -->
<!-- <div *ngIf="isLoading"><i class="fa fa-cog fa-spin fa-3x fa-fw"></i></div> -->
<div class="row" *ngIf="header">

  <div class="col-sm-4">
    <h2 class="logo">
				<a (click)="tieAppOnlick()">TIE<strong>APP</strong></a> <span>
					<h6>
            {{ 'TRANSLATE.FOR' | translate }}  {{header.appName}}
          </h6>
				</span>
			</h2></div>

  <div class="col-sm-4" id='headercenter'>
    <button type="button" class="btn btn-success" (click)="trainingOnclick()"> {{ 'TRANSLATE.TRAINING' | translate }}</button>
  </div>

  <div class="col-sm-4" id='headerright'>
    <div id="user">  {{ 'TRANSLATE.WELCOME' | translate }} {{ header.userName }} !</div>
    <div id="language"> {{ 'TRANSLATE.LANGUAGE' | translate }}</div>
    <div class="styled-select">
      <select class="form-control" id="sel1" #langSelect (change)="translate.use(langSelect.value)">
        <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
      </select>
    </div>
  </div>

</div>
