<div class="row">
  <div class="col-sm-4">
    <h2 class="logo">
				<a >TIE<strong>app</strong></a> <span>
					<h6>
						<!-- <fmt:message key="label.For" /> -->
            For
						<!-- <%=tieMainPage.getAppName()%> -->
            Mexican SAT
						<!--  %=session.getAttribute("tieapp")% -->
						<!--%=((com.tie.app.TieSessionController)session.getAttribute("appname")).getMainPage().getAppName()%-->

					</h6>
				</span>
			</h2></div>
  <div class="col-sm-4" id = 'headercenter'>
    <button type="button" class="btn btn-success">Training</button>
  </div>
  <div class="col-sm-4" id = 'headerright'>Language</div>
</div>
