<div id="searchby">

  <table style="width: 100%">
    <tr>
      <th>Doc Type:</th>
      <td class="searchSelect">
        <select class="form-control" id="sel1">
          <option>CBCR</option>
          <option>Other</option>
        </select>
      </td>
    </tr>
    <tr>
      <th>From User:</th>
      <td>
        <input type="text" class="form-control" id="fromUser" placeholder="Adam">
      </td>
    </tr>
    <tr>
      <th>From Country:</th>
      <td>
        <input type="text" class="form-control" id="fromCountry" placeholder="USA">
      </td>
    </tr>
    <tr>
      <th>To user:</th>
      <td>
        <input type="text" class="form-control" id="toUser" placeholder="Mary">
      </td>
    </tr>
    <tr>
      <th>To Country:</th>
      <td>
        <input type="text" class="form-control" id="toCountry" placeholder="USA">
      </td>
    </tr>
    <tr>
      <th>From Date:</th>
      <td>
        <input type="text" class="form-control" id="fromDate" placeholder="12-12-2016">
      </td>
    </tr>
    <tr>
      <th>To Date:</th>
      <td>
        <input type="text" class="form-control" id="toDate" placeholder="12-12-2016">
      </td>
    </tr>
  </table>
</div>
<div id="mnc">
  <p>MNC:</p>
  <table style="width: 100%">

    <tr>
      <th>Name:</th>
      <td>
        <input type="text" class="form-control" id="name" placeholder="MNC Name">
      </td>
    </tr>
    <tr>
      <th>Country:</th>
      <td>
        <select class="form-control" id="sel1">
          <option>
            US
          </option>
          <option>MX</option>
        </select>
      </td>
    </tr>
    <tr>
      <th>From Year:</th>
      <td>
        <input type="text" class="form-control" id="fromYear" placeholder="2012">
      </td>
    </tr>
    <tr>
      <th>To Year:</th>
      <td>
        <input type="text" class="form-control" id="toYear" placeholder="2016">
      </td>
    </tr>
    <tr>
      <th>Main Business:</th>
      <td>
        <select class="form-control" id="sel1">
          <option>
            Finance
          </option>
          <option>Education</option>
          <option>Health Care</option>
        </select>
      </td>
    </tr>


  </table>
  <table class="mncTable">
    <tr>
      <th>Key Metric</th>

      <td class="ax">Between</td>
    </tr>
    <tr>
      <th>Revenue Rel:</th>

      <td>
        <input type="text" class="form-control metrix" id="from" placeholder="">
      </td>
      <td>
        <input type="text" class="form-control metrix" id="to" placeholder="">
      </td>
    </tr>

    <tr>
      <th>Revenue Unrel:</th>

      <td>
        <input type="text" class="form-control metrix" id="from" placeholder="">
      </td>
      <td>
        <input type="text" class="form-control metrix" id="to" placeholder="">
      </td>
    </tr>
    <tr>
      <th>Total Revenue:</th>

      <td>
        <input type="text" class="form-control metrix" id="from" placeholder="">
      </td>
      <td>
        <input type="text" class="form-control metrix" id="to" placeholder="">
      </td>
    </tr>
    <tr>
      <th>Tax Accrual:</th>

      <td>
        <input type="text" class="form-control metrix" id="from" placeholder="">
      </td>
      <td>
        <input type="text" class="form-control metrix" id="to" placeholder="">
      </td>
    </tr>
    <tr>
      <th>Tax Paid:</th>

      <td>
        <input type="text" class="form-control metrix" id="from" placeholder="">
      </td>
      <td>
        <input type="text" class="form-control metrix" id="to" placeholder="">
      </td>
    </tr>
    <tr>
      <th>Num of Emp.:</th>

      <td>
        <input type="text" class="form-control metrix" id="from" placeholder="">
      </td>
      <td>
        <input type="text" class="form-control metrix" id="to" placeholder="">
      </td>
    </tr>
    <tr>
      <th>Capital:</th>

      <td>
        <input type="text" class="form-control metrix" id="from" placeholder="">
      </td>
      <td>
        <input type="text" class="form-control metrix" id="to" placeholder="">
      </td>
    </tr>
    <tr>
      <th>Accu Earnings:</th>

      <td>
        <input type="text" class="form-control metrix" id="from" placeholder="">
      </td>
      <td>
        <input type="text" class="form-control metrix" id="to" placeholder="">
      </td>
    </tr>
    <tr>
      <th>Assets:</th>

      <td>
        <input type="text" class="form-control metrix" id="from" placeholder="">
      </td>
      <td>
        <input type="text" class="form-control metrix" id="to" placeholder="">
      </td>
    </tr>
  </table>
</div>
