#searchby {
  text-align: center;
  font-size: 12px;
}
.form-control {
  height: 25px;
  width: 100px;
  padding-left: 10px;
  font-size: 12px;
  text-align: center;
}

.form-control.metrix {

  width: 60px;

}

#sel1 {
  height: 28px;
  width: 100px;
  font-size: 11px;
  text-align: center;
  padding-top: 5px;
}
#mnc {
  text-align: center;
  font-size: 12px;
}
#mnc>p {
  text-align: center;
  font-weight: bold;
}
.ax {
  font-weight: bold;
}
