<div id='bodyContainer'>
  <!-- <div id='tieapp-searchcriteria'>
    <tieapp-searchcriteria title="Search By">
      <tieapp-search-detail></tieapp-search-detail>
    </tieapp-searchcriteria>

  </div> -->
  <div id="rightpanel">
    <div id="rightpanelflex">
      <div id='tieapp-messagelist'>
        <tieapp-messagelist></tieapp-messagelist>
      </div>
      <div class="splitter-horizontal"></div>
      <div id='tieapp-messagedetail'>
        <tieapp-messagedetail></tieapp-messagedetail>
      </div>
    </div>
  </div>
</div>
