#bodyContainer {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}


/*#bodyContainer>div {
  display: inline-block;
  padding: 1em;
  border: 2px solid #fff;
}*/

#tieapp-searchcriteria {
  min-height: 480px;
  min-width: 250px;
  background-color: #34393d;
  color: #fff;
  padding: 10px 10px 10px 10px
}

#rightpanel {
  min-height: 500px;
  min-width: 100px;
  padding: 10px 10px 10px 10px
}

#rightpanelflex {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


/*rightpanelflex */

.splitter-horizontal {
  flex: 0 0 auto;
  height: 3px;
  text-align: center;
  color: #000;
  background: #44c4e7;
  cursor: row-resize;
}

#tieapp-messagelist {
  height: 200px;
  min-height: 10px;
}

#tieapp-messagedetail {
  min-height: 10px;
}
