<div id='bodyContainer' *ngIf="body">
  <div *ngIf="showSearchCriteria" id='tieapp-searchcriteria'>
    <tieapp-searchcriteria title="Search By" (emitCompose)="emitCompose($event)">
      <tieapp-search-detail></tieapp-search-detail>
    </tieapp-searchcriteria>

  </div>
  <a (click)="showSearchCriteria = !showSearchCriteria">
    <div *ngIf="!showSearchCriteria"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
    <div *ngIf="showSearchCriteria"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
  </a>
  <div id="rightpanel">
    <div id="rightpanelflex">
      <div id='tieapp-messagelist'>

        <!-- <tieapp-messagelist  [tieMsgs]="body.messagelist"></tieapp-messagelist> -->
        <tieapp-messagelist [messageList]="body.messageList.messageSumList" [currentSelectedMessageId]="body.messageDetail.tieMsgId" (emitMessageId)="emitMessageId($event)"> </tieapp-messagelist>

      </div>
      <div class="splitter-horizontal"></div>
      <div id='tieapp-messagedetail'>
        <tieapp-messagedetail [messageDetail]="body.messageDetail" [currentDoc]="body.currentDoc" [showTable]="showTable"></tieapp-messagedetail>
      </div>
    </div>
  </div>
</div>
