#bodyContainer {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

/*#bodyContainer>div {
  display: inline-block;
  padding: 1em;
  border: 2px solid #fff;
}*/

#app-searchcriteria {
  min-height: 480px;
  min-width: 250px;
  background-color: #34393d;
  color: #fff;
  padding: 10px 10px 10px 10px
}
#rightpanel {
  min-height: 500px;
  min-width: 100px;
  padding: 10px 10px 10px 10px
}
#rightpanelflex {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/*rightpanelflex */

.splitter-horizontal {
  flex: 0 0 auto;
  height: 10px;
  text-align: center;
  color: #000;
  background: #44c4e7;
  /*background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/hsizegrip.png) center center no-repeat #535353;*/
  cursor: row-resize;
}

#app-messagelist {
    height: 200px;
    min-height: 10px;
}

#app-messagedetail{
  min-height: 10px;
}
