
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Subject</th>
      <th>Description</th>
      <th>Date</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody class="msgbody">
    <tr class="">
      <td>John</td>
      <td>Cbcr1</td>
      <td>This is Cbcr1</td>
      <td>12-12-2015</td>
      <td>Sent</td>
    </tr>
    <tr class="">
      <td>Mary</td>
      <td>Cbcr2</td>
      <td>This is Cbcr2</td>
      <td>12-12-2015</td>
      <td>Sent</td>
    </tr>
    <tr class="">
      <td>Jack</td>
      <td>Cbcr3</td>
      <td>This is Cbcr3</td>
      <td>12-12-2015</td>
      <td>Sent</td>
    </tr>

  </tbody>
</table>
