<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Subject</th>
      <th>Description</th>
      <th>Date</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
  <tr class="" *ngFor="let tieMsg of messageList| paginate: { itemsPerPage: 6, currentPage: p }" (click)="onSelect(tieMsg.tieMsgId)" [ngStyle]="isHighlight(tieMsg.tieMsgId)" >
    <!-- (click)="onSelect(tieMsg)"> -->
    <td>{{tieMsg.sender.name}}</td>
    <td>{{tieMsg.subject}}</td>
    <td>{{tieMsg.description}}</td>
    <td>{{tieMsg.timestamp}}</td>
    <td>{{tieMsg.tieMsgState.name}}</td>
  </tr>

  </tbody>

</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
<!-- <div *ngIf="currentMsgInfo">
  <p> description: {{currentMsgInfo.description}}</p>
  <p> From: {{currentMsgInfo.from}}</p>
  <p>To: {{currentMsgInfo.to}}</p>
</div> -->
<!-- <messagedetail [currentMsg] = "tieMsg">/<messagedetail> -->
