<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Subject</th>
      <th>Description</th>
      <th>Date</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody class="msgbody" *ngIf="messageList">
    <tr class="" *ngFor="let tieMsg of messageList.messageSumList" (click)="onSelect(tieMsg.tieMsgId)">
      <!-- (click)="onSelect(tieMsg)"> -->
      <td>{{tieMsg.user}}</td>
      <td>{{tieMsg.subject}}</td>
      <td>{{tieMsg.description}}</td>
      <td>{{tieMsg.date}}</td>
      <td>{{tieMsg.status}}</td>
    </tr>
  </tbody>


</table>
<!-- <div *ngIf="currentMsgInfo">
  <p> description: {{currentMsgInfo.description}}</p>
  <p> From: {{currentMsgInfo.from}}</p>
  <p>To: {{currentMsgInfo.to}}</p>
</div> -->
<!-- <messagedetail [currentMsg] = "tieMsg">/<messagedetail> -->
