<div class="row" id="docrow">
  <div>&nbsp;&nbsp;&nbsp;  Entities in CBCR Doc:</div>
</div>
<div class="entityBody">
  <div>Reporting Entity: IndustryCo</div>
  <div>Resident Country: MX</div>
  <div>Currency: MXN</div>

            <table>
              <thead>
                <tr>
                  <th>Tin</th>
                  <th>Name</th>
                  <th>Entity Code</th>
                  <th>Doc Type</th>
                  <th>Incorporation Code</th>
                  <th>Resident</th>
                  <th>Is PE</th>
                  <th>Address</th>
                  <th>Main Entity</th>
                </tr>
              </thead>
              <tbody class="">
                <tr class="">
                  <td>10001</td>
  								<td>Global...</td>
  								<td>Global...</td>
  								<td>CBCR</td>
  								<td>Global...</td>
                  <td>CA</td>
                  <td>YES</td>
                  <td></td>
                  <td>Industry...</td>
                </tr>
                <tr class="">
                  <td>10002</td>
  								<td>Global...</td>
  								<td>Global...</td>
  								<td>CBCR</td>
  								<td>Global...</td>
                  <td>CA</td>
                  <td>YES</td>
                  <td></td>
                  <td>Industry...</td>
                </tr>

              </tbody>
            </table>


</div>
