<div *ngIf="currentDoc">
  <div class="row" id="docrow">
    <div><h5> Entities in CBCR Doc:</h5></div>
  </div>
  <div class="entityBody">
    <div>Reporting Entity: {{currentDoc.reportingEntityCode}}</div>
    <div>Resident Country: {{currentDoc.resCountryCode}}</div>
    <div>Currency: {{currentDoc.currencyCode}}</div>

    <table>
      <thead>
        <tr>
          <th>Tin</th>
          <th>Name</th>
          <th>Entity Code</th>
          <th>Doc Type</th>
          <th>Incorporation Code</th>
          <th>Resident</th>
          <th>Is PE</th>
          <th>Address</th>

        </tr>
      </thead>
      <tbody class="" >

        <tr class="" *ngFor="let entitylistItem of currentDoc.taxEntityList">

          <td>{{entitylistItem.taxIdNum}}</td>
          <td>{{entitylistItem.name}}</td>
          <td>{{entitylistItem.entityCode}}</td>
          <td>Not declared</td>
          <td>{{entitylistItem.incorpCountryCode}}</td>
          <td>{{entitylistItem.resCountryCode}}</td>
          <td>
            <div *ngIf="entitylistItem.isPE === 1"><i class="fa fa-check" aria-hidden="true"></i></div>
          </td>
          <td>{{entitylistItem.addrStreet}}</td>

        </tr>


      </tbody>
    </table>

  </div>
</div>
