<div class="row" id="docrow">
  <h4>&nbsp;&nbsp;  Entities in CBCR Doc:</h4>
</div>
<div class="entityBody">
  <div>Reporting Entity: IndustryCo</div>
  <div>Resident Country: MX</div>
  <div>Currency: MXN</div>
  <table class="table">
  						<thead>
  							<tr>
  								<th>Tin</th>
  								<th>Name</th>
  								<th>Entity Code</th>
  								<th>Doc Type</th>
  								<th>Incorporation Code</th>
                  <th>Resident</th>
                  <th>Is PE</th>
                  <th>Address</th>
                  <th>Main Entity</th>
  							</tr>
  						</thead>


  						<tbody class="member">
  							<!-- Generate auto increment td id later -->

  							<tr id="" class="">
  								<th >10001</th>
  								<td>Global...</td>
  								<td>Global...</td>
  								<td>CBCR</td>
  								<td></td>
                  <td>CA</td>
                  <td>YES</td>
                  <td></td>
                  <td>Industry...</td>
  								<!-- <td class="msgID"><%=tieMsg.getTieMsgId()%></td> -->
  							</tr>



  						</tbody>
  					</table>

</div>
