<div id="currentMsgBody">
  <div class="row">
    <div class="col-md-3">
      <p>
        From:<span id="from"> US</span>
      </p>
    </div>


    <div class="col-md-3">
      <p>
        Date: <span id="date">12-24-2015</span>
      </p>
    </div>

    <div class="col-md-3">
      <p>
        Reporting Period: <span id="reportingPeriod"> 12-24-2015</span>
      </p>
    </div>

    <div class="col-md-3">
      <p>
        Status: <span id=tieMsgState> Sent </span>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div>To:</div>
    </div>
    <div class="col-md-9">
      <input type="text" class="form-control" id="To" placeholder="Mary@MX">
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div>Subject:</div>
    </div>
    <div class="col-md-9">
      <input type="text" class="form-control" id="Subject" placeholder="Cbcr sample">
    </div>
  </div>


  <div class="row">
    <div class="col-md-3">
      <div>Notes:</div>
    </div>
    <div class="col-md-9">
      <textarea rows="4" cols="95" id="notes">Current Note</textarea>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div>Warning:</div>
    </div>
    <div class="col-md-9">
      <input type="text" class="form-control" id="Warning" placeholder="Warning info">
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div>Contact:</div>
    </div>
    <div class="col-md-9">
      <input type="text" class="form-control" id="Contact" placeholder="Mary">
    </div>
  </div>
  <!-- <div id="formGroup">
                <form>
                  <div class="form-group row">
                    <label for="To" class="col-sm-2 form-control-label">To:</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="To"
                        placeholder="MX">
                    </div>

                  </div>



                  <div class="form-group row">
                    <label for="Subject" class="col-sm-2 form-control-label">Subject:</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="Subject"
                        placeholder="CBCR doc1">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="Notes" class="col-sm-2 form-control-label">Notes:</label>
                    <div class="col-sm-10">
                      <textarea rows="4" cols="95" id="notes">Current Note</textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="Warning" class="col-sm-2 form-control-label">Warning:</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="Warning"
                        placeholder="Warning details">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="Contact" class="col-sm-2 form-control-label">Contact:</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="Contact"
                        placeholder="Contacts info">
                    </div>
                  </div>
                </form>

              </div> -->

  <div class="row">
    <div class="col-md-3">

      <div>
        OECD Message Ref ID:
      </div>

      <div>
        OECD Message Type:
      </div>
      <div>
        Sending Country:
      </div>
      <div>Language:</div>

    </div>
    <div class="col-md-3">
      <div>
        CBC 1
      </div>
      <div class="styled-select">
        <select class="form-control" id="sel1">
          <option>CbC</option>
          <option>Other</option>
        </select>
      </div>
      <div>
        MX
      </div>
      <div class="styled-select">
        <select class="form-control" id="sel1">
          <option>EN</option>
          <option>ES</option>
          <option>CN</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div>
        Reporting Period:
      </div>
      <div>
        OECD Message Type Indic:
      </div>
      <div>
        Receiving Country:
      </div>

    </div>
    <div class="col-md-3">
      <div>
        12-12-2015
      </div>
      <div class="styled-select">
        <select class="form-control" id="sel1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </div>
      <div>
        US,MX
      </div>
    </div>
  </div>
</div>
