
<div id='tieapp' *ngIf="tieapp">
  <!-- <div id='tieapp'> -->
  <div id='tieapp-header'>
    <tieapp-header [header]="tieapp.header" (tieAppShowInfo)="tieAppShowInfo($event)" (trainingShowInfo)="trainingShowInfo($event)" (logoutAtHeader)="logoutAtHeader($event)"></tieapp-header>

  </div>
  <div id='tieapp-body'>

    <div *ngIf="showApp">
      <tieapp-body [body]="tieapp.body" [language]="tieapp.header.language" (emitSaveChangeAtBody) = "emitSaveChangeAtBody($event)" (emitDeleteMsgAtBody) = "emitDeleteMsgAtBody($event)" (emitSendAtBody) = "emitSendAtBody($event)"></tieapp-body>
    </div>
    <div *ngIf="showTraining">
      <tieapp-training></tieapp-training>
    </div>
  </div>

  <div id='tieapp-footer'>
    <!-- <tieapp-footer [footer]="tieapp.footer"></tieapp-footer> -->
    <tieapp-footer></tieapp-footer>
  </div>
</div>

<div class="modal fade" id="msgModalLong" tabindex="-1" role="dialog" aria-labelledby="msgModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgModalLongTitle">{{windowTitleName}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{windowDescription}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
