<div id='tieapp' *ngIf="tieapp">
  <!-- <div id='tieapp'> -->
  <div id='tieapp-header'>
    <tieapp-header [header]="tieapp.header" (tieAppShowInfo)="tieAppShowInfo($event)" (trainingShowInfo)="trainingShowInfo($event)"></tieapp-header>

  </div>
  <div id='tieapp-body'>

    <div *ngIf="showApp">
      <tieapp-body [body]="tieapp.body" [language]="tieapp.header.language" (emitSaveChangeAtBody) = "emitSaveChangeAtBody($event)" (emitDeleteMsgAtBody) = "emitDeleteMsgAtBody($event)"></tieapp-body>
    </div>
    <div *ngIf="showTraining">
      <tieapp-training></tieapp-training>
    </div>
  </div>

  <div id='tieapp-footer'>
    <!-- <tieapp-footer [footer]="tieapp.footer"></tieapp-footer> -->
    <tieapp-footer></tieapp-footer>
  </div>
</div>
