<div class="row">
  <div class="col-md-6">Tax Documents In Message:</div>
  <div id="docbuttons" class="col-md-6">
    <!-- <button type="button" class="btn btn-info">Attach ...</button> -->
    <input type="file" name="file" id="file" class="inputfile" (change)="onChange($event)" (click)="onClick($event)" />
    <label for="file">Attach ...</label>
    <button type="button" class="btn btn-info" (click)="onDetach()">Detach ...
    </button>
  </div>
</div>


<table>
  <thead>
    <tr>
      <th></th>
      <th>Code</th>
      <th>Title</th>
      <th>Doc Type</th>
      <th>Reporting Entity</th>
      <th>Currency</th>
      <th>Resident Country</th>
      <th>Accounting Standard</th>
      <th>Reporting Period</th>
    </tr>
  </thead>
  <tbody class="docbody" *ngIf="messageDetail">
    <tr class="" *ngFor="let doclistItem of messageDetail.tieDocList" (click)="onSelect(doclistItem.tieDocId)" [ngStyle]="isHighlight(doclistItem.tieDocId)">
      <td><input type="checkbox"  value="{{doclistItem.tieDocId}}"  (click)="onClickCheckBox($event)"></td>
      <td>{{doclistItem.code}}</td>
      <td>{{doclistItem.name}}</td>
      <td>{{doclistItem.tieDocTypeId|doctype}}</td>
      <td>{{doclistItem.reportingEntityCode}}</td>
      <td>{{doclistItem.currencyCode}}</td>
      <td>{{doclistItem.resCountryCode}}</td>
      <td>{{doclistItem.accountingStandard}}</td>
      <td>{{doclistItem.reportingPeriod}}</td>
    </tr>
  </tbody>
</table>
<!-- <div class="" *ngIf="detach">
  <button type="button" class="btn btn-info" (click)="onConfirm()">Confirm
  </button>
  <button type="button" class="btn btn-info" (click)="onCancel()">Cancel
  </button>
</div> -->
<!-- Modal -->
<div class="modal fade" id="errModalLong" tabindex="-1" role="dialog" aria-labelledby="errModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="errModalLongTitle">Message Not Saved</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Please save the message first!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
