.docbody tr:hover {
	background-color: #eff5dc;
}


table {
  /*table-layout: fixed;*/
  width: 100%;
}
th, td {

    overflow: hidden;

}
#docbuttons{
  text-align: right;
}
.btn {
  height: 30px;
  font-size: 12px;
  vertical-align: middle;
}

tbody tr:nth-child(odd) {
  background: #fcfcfc;
}
tbody tr:nth-child(even) {
  background: #fcfcfc;
}
