<div class="row">
  <div class="col-md-6">Tax Documents In Message:</div>
  <div id="docbuttons" class="col-md-6">
    <button type="button" class="btn btn-info">Attach ...</button>
    <button type="button" class="btn btn-info">Detach ...
    </button>
  </div>
</div>


<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Title</th>
      <th>Doc Type</th>
      <th>Reporting Entity</th>
      <th>Currency</th>
      <th>Resident Country</th>
      <th>Accounting Standard</th>
      <th>Reporting Period</th>
    </tr>
  </thead>
  <tbody class="docbody">
    <tr class="">
      <td>IndustryCo</td>
      <td>doc13</td>
      <td>Cbcr</td>
      <td>RU=03389</td>
      <td>USD</td>
      <td>MX</td>
      <td>US GAAP</td>
      <td>2014-12-31</td>
    </tr>
    <tr class="">
      <td>EySampleCorp</td>
      <td>doc14</td>
      <td>Cbcr</td>
      <td>RU=03389</td>
      <td>USD</td>
      <td>MX</td>
      <td>US GAAP</td>
      <td>2014-12-31</td>
    </tr>

  </tbody>
</table>
