/* You can add global styles to this file, and also import other style files */

table {
  width: 100%;
  table-layout: fixed;
  word-wrap: break-word;
}
th, td {
  vertical-align: top;
  text-align: left;
}
